body {
    width: 80%;
    margin: 10px auto;
    background-color: lightgreen;
}

#container {
    width: 750px;
    margin: 0 auto;
    border: 2px solid rgba(29, 172, 29, 0.596);
    background-color: white;
}

.text {
    margin: 50px 10px 10px 120px;
    text-align: justify;
}

nav {
    background-image: url(img/nav.png);
    padding: 0 0.5em;
    text-align: center;
    font-size: large;
    color: white;
    height: 27px;
    margin: 0 0 20px;
}

nav a {
    float: left;
    text-decoration: none;
    color: beige;
    padding: 0em 1.5em;
    font-size: 1em;
    border-right: 1px solid beige;
    transition: .3s;
}

nav a:hover{
    background-color: rgba(29, 172, 29, 0.596);
}

li {
    display: inline-block;
    border-right: 1px solid black;
}

.titre {
    display: flex;
    border-left: 3px solid rgba(29, 172, 29, 0.596);
    border-bottom: 1px solid rgba(29, 172, 29, 0.596);
    margin: 0 0 10px 0;
}

.bas{
    display: flex;
    justify-content: end;
    color: rgba(29, 172, 29, 0.596);
    font-size: 15px;
}

