body{
    width: 80%;
    margin: 10px auto;
    background-color: black;
}

#contenu{
    background-color: #8674af;
    border: 10px solid #0897cd;
}

header, footer{
    height: 80px;
    background-color: #9685;
    color: aliceblue;
    text-align: center;
    padding-top: 6px;
    /*marge interieur*/
}

nav{
    height: 40px;
    background-color: #576;
    color: rgb(116, 18, 111);
    padding-left: 20px;
}

section{
    border: 20px solid blanchedalmond;
    background-color: #ca8c19;
    height: 500px;
    text-align: center;
}

p{
    margin: 0;
}