@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Lora&family=Pacifico&family=Shadows+Into+Light&display=swap');


#container{
    font-family: 'Shadows Into Light' ;
    /* Police du texte */
    margin: 20px auto;
    /* 20px au dessus et dessous et centré gauche et droite */
    background-color: #29347B;
    /* couleur de fond */
    width: 850px;
    /* largeur du "container" */
    height: 910px;
    /* hauteur du "conainer" */
    text-align: center;
    font-size: 20px;
    /* taille du titre */
    color: white;
}

figcaption{
    font-size: 20px;
    /* taille des légende sous les image */
}

h1{
    display: block;
    /* pour donner une taille au taille */
    width: 200px;
    /* largeur du texte */
    margin: 0 auto; 
    /* centre le texte */
}

.l1{
    margin: 0 auto;
    /* centre les images */
    align-items: flex-start;
    /* les places sur le haut de la div */
    display: flex;
    /* rend les images déplacable */
    justify-content: space-around;
    /* ajoute des espace équivalent entre les images */
    width: 100%;
    /* taille de la div */
}

.l2 {
    margin: 0 auto;
    /* centre les images */
    align-items: flex-start;
    /* les places sur le haut de la div */
    display: flex;
    /* rend les images déplacable */
    justify-content: space-around;
    /* ajoute des espace équivalent entre les images */
    width: 100%;
    /* taille de la div */
}

.l3 {
    margin: 0 auto;
    /* centre les images */
    align-items: flex-start;
    /* les places sur le haut de la div */
    display: flex;
    /* rend les images déplacable */
    justify-content: space-around;
    /* ajoute des espace équivalent entre les images */
    width: 100%;
    /* taille de la div */
}

.chat5{
    width: 80%;
    /* 5eme image qui est plus petite que les autres */
}
