/* Importer des polices */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Cormorant+Garamond:wght@300&family=Lora&family=Pacifico&family=Shadows+Into+Light&display=swap');


body{
    font-family: "Cormorant Garamond", serif;
    background-color: #f6f6f7;
    width: 1024px;
    /* width: 80%; */
    margin: 0 auto;
}

header{
    width: 50%;
    /* 10% au dessus, auto a gauche et a droite, 5% en bas */
    margin: 10% auto 5%;
}

section{
    width: 100%;
    display: inline-block;
}

footer{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 20%;
    font-weight: bold;
}

footer p{
    /* met le texte en majucule */
    text-transform: uppercase;
}

footer em{
    font-size: 1.5vw;
    font-style: italic;
    line-height: 5rem;
}

nav{
    text-align: center;
}

nav ul li{
    display: inline-block;
}

a{
    text-decoration: none;
    /* régle de l'héritage en CSS : l'enfant hérite des propriétes de son parent */
    color: inherit;
}

/* Les class */

.titre{
    text-transform: uppercase;
    font-style: 3rem;
    letter-spacing: 0.2em;
    text-align: center;
}

header h2.titre, footer h5.titre{
    color: #cf884d;
    font-weight: bold;
    font-style: 0.65rem;
}

footer h5.titre{
    color: black;
    font-size: 1rem;
    /* 3.5rem haut et bas 0 gauche et droite */
    padding: 3.5rem 0;
    background-image: url(../img/plan.png);
    background-repeat: no-repeat;
    background-position: center;
}

.plate{
    /* m0 */
    margin: 0;
    /* w49.94% */
    width: 49.94%;
    height: auto;
    /* dib */
    display: inline-block;
    /* vam */
    vertical-align: middle;
    /* fwb */
    font-weight: bold; 
}

.salle .plate:first-child,
.service .plate:last-child,
.dressage .plate:first-child,
.gout .plate:last-child{
    padding: 3%;
    width: 43.3%;
}

.plate img{
    width: 100%;
    height: auto;
}

/* Agencement du text */

.plate h2{
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: bold;
}

.plate p{
    font-style: italic;
    font-size: 1vw;
}

.plate p:last-of-type{
    margin-bottom: 5%;
}

.plate span{
    color: #fff;
    background-color: #282828;
    text-transform: uppercase;
    font-size: 2vh;
    padding: 1% 7% 1% 2%;
    margin-top: 2%;
}

.plate i{
    font-size: 1vh;
    margin: 0 0.5%;
}

.gout{
    margin-bottom: 10%;
}

#plat .plate{
    width: 49%;
    text-align: right;
}

#plat .plate:last-of-type{
    position: relative;
    right: 15%;
}

#plat .plate img{
    border-radius: 50%;
    width: 80%;
    display: block;
    margin: auto;
}

#plat .plate h3{
    font-style: italic;
    text-transform: inherit;
    font-size: 1.5vw;
}

#plat .plate p{
    text-transform: uppercase;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 0.1rem;
}

.salle, .dressage, .service, .gout{
    height: 517px;
}
